.title{
    text-align: center;
    color:#2d5705;;
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 70px 0 30px;
    padding: 50px;

}

.title h2{
    font-size: 50px;
    color:#26562ac8;
    margin-top: 5px;
    text-transform: none;
}